id=Tru64_4.x
name=Tru64 Pre 4.x (Digital)
#
id=disks
command=/usr/bin/df -k
mount=6
name=1
noNameFilter=true
startLine=2
#
id=disk
command=/usr/bin/df -k <disk>
total=2
free=4
percentUsed=5
#
id=memory
command=/sbin/swapon -s
free=3
freeMatch=Available space
total=3
totalMatch=Allocated space
swapUnit=8192
startMatch=Total swap allocation
#
id=pageFault
command=/usr/bin/vmstat -s
pageFaults=1
matchLine=pages paged
#
id=cpu
command=/usr/bin/iostat 3 2
idle=14
reverseLines=true
#
id=process
command=/usr/bin/ps -e -o vsz=MEMSIZE -o args=COMMAND
nameColumnName=COMMAND
startLine=2
#
id=processDetail
command=/usr/bin/ps -e -o vsz=MEMSIZE -o args=COMMAND
nameColumnName=COMMAND
sizeColumnName=MEMSIZE
#
id=serviceMonitor
command=/bin/ps -ax -o vsz=MEMSIZE -o command=COMMAND
nameColumnName=COMMAND
sizeColumnName=MEMSIZE
startLine=2
pageSize=compute
#
id=filesize
command=/usr/bin/ls -l <file>
size=5
#
id=tail
command=/usr/bin/tail -c +<bytes> <file>
#
id=fileExists
command=/usr/bin/test -r <file>; echo $?
match=0
startLine=2
pageSize=compute
#
id=fileList
command=/usr/bin/ls -l <directory> | /usr/bin/grep -v "^total" | /usr/bin/grep -v "^d" | /usr/bin/sed 's/  */!/g' | /usr/bin/cut -d\! -f5,9
#
id=systemTime
command=echo ssDateStart; /usr/bin/date -u +"%m/%d/%Y %H:%M:%S"; /usr/bin/date +"%m/%d/%Y %H:%M:%S"
#
id=catFile
command=/usr/bin/cat <file>
