id=SGI
name=SGI Irix
#
id=disks
command=/usr/sbin/df -k
mount=7
name=1
#
id=disk
command=/usr/sbin/df -k <disk>
total=3
free=5
percentUsed=6
#
id=memory
command=/sbin/swap -l
total=4
free=5
swapUnit=512
startLine=2
#
id=pageFault
command=/usr/bin/sar -p 3
startLine=5
endLine=5
pageFaults=5
units=pages/sec
#
id=cpu
command=/usr/bin/sar 3
wait=5
idle=6
reverseLines=true
endLine=1
#
id=process
command=/usr/bin/ps -ef
nameColumnName=CMD
startLine=2
#
id=processDetail
command=/usr/bin/ps -el
nameColumnName=COMD
sizeColumnName=SZ
startLine=2
#
id=filesize
command=/usr/bin/ls -l <file>
size=5
#
id=tail
command=/usr/bin/tail -c +<bytes> <file>
#
id=fileExists
command=/usr/bin/test -r <file>; echo $?
match=0
#
id=fileList
command=/usr/bin/ls -l <directory> | /usr/bin/grep -v "^total" | /usr/bin/grep -v "^d" | /usr/bin/sed 's/  */!/g' | /usr/bin/cut -d\! -f5,9
#
id=systemTime
command=echo ssDateStart; /usr/bin/date -u +"%m/%d/%Y %H:%M:%S"; /usr/bin/date +"%m/%d/%Y %H:%M:%S"
#
id=catFile
command=/usr/bin/cat <file>
