<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Commit Category"
            id="com.siteview.ecc.workbench.commands.category">
      </category>
      <command
            name="Commit Command"
            categoryId="com.siteview.ecc.workbench.commands.category"
            id="com.siteview.ecc.workbench.commands.commitCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.siteview.ecc.workbench.commands.commitCommand"
            class="com.siteview.ecc.workbench.handlers.CommitHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.siteview.ecc.workbench.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="SiteView"
               mnemonic="M"
               id="com.siteview.ecc.workbench.menus.commitMenu">
            <command
                  commandId="com.siteview.ecc.workbench.commands.commitCommand"
                  mnemonic="S"
                  id="com.siteview.ecc.workbench.menus.commitCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.siteview.ecc.workbench.toolbars.commitToolbar">
            <command
                  commandId="com.siteview.ecc.workbench.commands.commitCommand"
                  icon="icons/sample.gif"
                  tooltip="Commit to backend"
                  id="com.siteview.ecc.workbench.toolbars.commitCommand">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="com.siteview.ecc.workbench.commands.commitCommand"
               helpContextId="Commit to backend"
               icon="icons/sample.gif"
               label="SiteView Commit"
               mnemonic="C"
               style="push"
               tooltip="Commit to backend">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="SiteviewPreferencePage"
            class="com.siteview.ecc.workbench.preferences.SiteViewRmiSetupPage"
            id="SiteViewRmiSetupPage"
            name="SiteViewRmiSetup">
      </page>
      <page
            class="com.siteview.ecc.workbench.preferences.SiteviewPreferencePage"
            id="SiteviewPreferencePage"
            name="SiteViewPreference">
      </page>
      <page
            category="SiteviewPreferencePage"
            class="com.siteview.ecc.workbench.preferences.ServerListPreferencePage"
            id="ServerListPreferencePage"
            name="ServerListPreference">
      </page>
      <page
            category="SiteviewPreferencePage"
            class="com.siteview.ecc.workbench.preferences.RuntimePreferencePage"
            id="RuntimePreferencePage"
            name="RuntimePreference">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.siteview.ecc.workbench.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.siteview.ecc.workbench.editors.SiteviewPageEditor"
            contributorClass="com.siteview.ecc.workbench.editors.SiteviewPageEditorContributor"
            extensions="java"
            icon="icons/sample.gif"
            id="com.siteview.ecc.workbench.editors.SiteviewPageEditor"
            name="Siteview Multi-page Editor">
         <contentTypeBinding
               contentTypeId="com.siteview.ecc.workbench.java">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.siteview.mde.internal.ui.editor.category.CategoryEditor"
            contributorClass="com.siteview.mde.internal.ui.editor.category.CategoryEditorContributor"
            default="false"
            extensions="mg"
            icon="icons/sample.gif"
            id="com.siteview.ecc.workbench.buildEditor"
            name="Test buildEditor">
         <contentTypeBinding
               contentTypeId="com.siteview.ecc.workbench.mg">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="mg"
            id="com.siteview.ecc.workbench.mg"
            name="mg"
            priority="normal">
         <describer
               class="com.siteview.ecc.workbench.ContentDescriber1">
         </describer>
         <property
               name="com.siteview.ecc.workbench.property1">
         </property>
      </content-type>
      <content-type
            file-extensions="java"
            id="com.siteview.ecc.workbench.java"
            name="java"
            priority="normal">
      </content-type>
   </extension>

</plugin>
