<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="Siteview.Forms.Common.SiteviewAutoTask">
      <AutoTaskExtension
            Class="com.siteview.ecc.rcp.cnf.AddMonitorBundle"
            Name="addmonitorBundle">
      </AutoTaskExtension>
   </extension>

</plugin>
