id=AIX
name=AIX
#
id=disks
command=/usr/bin/df -k
mount=7
name=1
#
id=disk
command=/usr/bin/df -k <disk>
total=2
free=3
percentUsed=4
#
id=memory
command=/usr/sbin/lsps -s
usedPercentage=2
total=1
swapUnit=1048576
#
id=pageFault
command=/usr/bin/vmstat -s
pageFaults=1
matchLine=/\d (page ins|page outs)/
#
id=cpu
command=/usr/bin/vmstat 3 2
startLine=5
wait=17
idle=16
#
id=process
command=/usr/bin/ps -ef
nameColumnName=CMD
startLine=2
#
id=processDetail
command=/usr/bin/ps -el
nameColumnName=CMD
sizeColumnName=SZ
startLine=2
pageSize=1024
#
id=filesize
command=/usr/bin/ls -l <file>
size=5
#
id=tail
command=/usr/bin/tail -c +<bytes> <file>
#
id=fileExists
command=/usr/bin/test -r <file>; echo $?
match=0
#
id=fileList
command=echo ssDateStart; /usr/bin/ls -l <directory> | /usr/bin/grep -v "^total" | /usr/bin/grep -v "^d" | /usr/bin/sed 's/  */!/g' | /usr/bin/cut -d\! -f5,9
#
id=systemTime
command=/usr/bin/date -u +"%m/%d/%Y %H:%M:%S"; /usr/bin/date +"%m/%d/%Y %H:%M:%S"
#
id=catFile
command=/usr/bin/cat <file>
