id=FreeBSD
name=FreeBSD
description=FreeBSD - 3.x
#
id=disks
command=/bin/df -k
mount=6
name=1
#
id=disk
command=/bin/df -k <disk>
total=2
free=4
percentUsed=5
#
id=memory
command=/usr/sbin/swapinfo -k
total=2
free=4
swapUnit=1024
startLine=2
#
id=pageFault
command=/usr/bin/vmstat -c 3 -w 2
inPageFaults=8
outPageFaults=9
units=k/sec
pageSize=4096
startLine=4
#
id=cpu
command=/usr/bin/vmstat -c 3 -w 2 -n 0
idle=999
reverseLines=true
endLine=2
startLine=2
#
id=process
command=/bin/ps -ax
nameColumnName=COMMAND
startLine=2
#
id=processDetail
command=/bin/ps -axl
nameColumnName=COMMAND
sizeColumnName=VSZ
startLine=2
pageSize=1024
#
id=serviceMonitor
command=/bin/ps -ax -o vsz=MEMSIZE -o command=COMMAND
nameColumnName=COMMAND
sizeColumnName=MEMSIZE
startLine=2
pageSize=1
#
id=directory
command=/usr/bin/ls -A -1 -F
#
id=filesize
command=/usr/bin/ls -l <file>
size=5
#
id=tail
command=/usr/bin/tail -c +<bytes> <file>
#
id=fileExists
command=/usr/bin/test -r <file>; echo $?
match=0
#
id=fileList
command=/usr/bin/ls -l <directory> | /usr/bin/grep -v "^total" | /usr/bin/grep -v "^d" | /usr/bin/sed 's/  */!/g' | /usr/bin/cut -d\! -f5,9
#
id=systemTime
command=echo ssDateStart; /usr/bin/date -u +"%m/%d/%Y %H:%M:%S"; /usr/bin/date +"%m/%d/%Y %H:%M:%S"
#
id=catFile
command=/usr/bin/cat <file>
