id=MacOSX
name=MacOSX
description=MacOS X
#
id=disks
command=/bin/df -k
mount=6
name=1
#
id=disk
command=/bin/df -k <disk>
total=2
free=4
percentUsed=5
#
id=memory
command=/usr/bin/top -ln 1
used=8
free=10
matchLine=PhysMem
pageSize=compute
//#
//id=pageFault
//incomplete
#
id=cpu
command=/usr/bin/top -ln 1
idle=12
matchLine=Load
#
id=process
command=/bin/ps ax -o vsz=MEMSIZE -o command=COMMAND
nameColumnName=COMMAND
sizeColumnName=MEMSIZE
startLine=2
#
id=processDetail
command=/bin/ps auxw
nameColumnName=COMMAND
sizeColumnName=VSZ
startLine=2
pageSize=1
#
id=serviceMonitor
command=/bin/ps ax -o vsz=MEMSIZE -o command=COMMAND
nameColumnName=COMMAND
sizeColumnName=MEMSIZE
startLine=2
pageSize=1
#
id=filesize
command=/bin/ls -l <file>
size=5
#
id=tail
command=/usr/bin/tail -c +<bytes> <file>
#
id=fileExists
command=/bin/test -r <file>; echo $?
changeDirectory=cd
match=0
#
id=directory
command=/bin/ls -F
#
id=fileList
command=/bin/ls -l <directory> | /usr/bin/grep -v "^total" | /usr/bin/grep -v "^d" | /usr/bin/sed 's/  */!/g' | /usr/bin/cut -d\! -f5,9
#
id=systemTime
command=echo ssDateStart; /usr/bin/date -u +"%m/%d/%Y %H:%M:%S"; /usr/bin/date +"%m/%d/%Y %H:%M:%S"
#
id=catFile
command=/usr/bin/cat <file>
