<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.siteview.ecc.rcp.cnf.internal.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="com.siteview.ecc.rcp.cnf.internal.Application"
            description="SiteView ECC Client Product"
            name="SiteView ECC Client">
         <property
               name="windowImages"
               value="icons/alt16.gif,icons/alt32.gif">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="preferenceCustomization"
               value="preferences.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.siteview.ecc.rcp.cnf.ui.Perspective"
            id="com.siteview.ecc.rcp.cnf.perspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.siteview.ecc.rcp.cnf.ui.MonitorExplorer"
            icon="icons/groups.gif"
            id="com.siteview.ecc.rcp.cnf.view"
            name="Monitor Explorer"
            restorable="true">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.siteview.ecc.rcp.cnf.view">
         <popupMenu
               allowsPlatformContributions="true"
               id="com.siteview.ecc.rcp.cnf.view.popup">
            <insertionPoint
                  name="group.new"
                  separator="false">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="false">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="com.siteview.ecc.rcp.cnf.view">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="com.siteview.ecc.rcp.cnf.content.MonitorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.siteview.ecc.rcp.cnf.provider.MonitorContentProvider"
            id="com.siteview.ecc.rcp.cnf.content.MonitorContent"
            labelProvider="com.siteview.ecc.rcp.cnf.provider.MonitorLabelProvider"
            name="Monitor Explorer"
            priority="normal">
         <actionProvider
               class="com.siteview.ecc.rcp.cnf.provider.MonitorActionProvider"
               id="openChildProvider">
         </actionProvider>
         <enablement>
            <or>
               <instanceof
                     value="com.siteview.ecc.rcp.cnf.data.MonitorServerManager">
               </instanceof>
               <instanceof
                     value="com.siteview.ecc.rcp.cnf.data.MonitorServer">
               </instanceof>
               <instanceof
                     value="COM.dragonflow.SiteView.MonitorGroup">
               </instanceof>
               <instanceof
                     value="COM.dragonflow.SiteView.Monitor">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
      <commonFilter
            class="com.siteview.ecc.rcp.cnf.provider.MonitorFilter"
            description="Only shows the Parent02"
            id="com.siteview.ecc.rcp.cnf.filters.parent2only"
            name="Parent 02 Filter">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.siteview.ecc.rcp.cnf.perspective">
         <view
               closeable="false"
               id="com.siteview.ecc.rcp.cnf.view"
               minimized="false"
               moveable="false"
               ratio="1.0"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.siteview.ecc.rcp.cnf.view.popup?after=group.edit">
         <command
               commandId="org.eclipse.ui.edit.delete"
               helpContextId="org.eclipse.ui.edit.delete"
               icon="icons/delete_obj.gif"
               id="cnf.popupmenu.delete"
               label="Delete"
               mnemonic="D"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.rename"
               id="cnf.popupmenu.rename"
               label="Rename"
               mnemonic="R"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.siteview.ecc.rcp.cnf.view.popup?after=group.properties">
         <command
               commandId="org.eclipse.ui.file.properties"
               id="cnf.popupmenu.props"
               label="Properties"
               mnemonic="I"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.siteview.ecc.rcp.cnf.handler.RenameHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <reference
                  definitionId="com.siteview.ecc.rcp.cnf.elementSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.siteview.ecc.rcp.cnf.elementSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.siteview.ecc.rcp.cnf.handler.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <reference
                  definitionId="com.siteview.ecc.rcp.cnf.elementSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.siteview.ecc.rcp.cnf.elementSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.siteview.ecc.rcp.cnf.elementSelected">
         <or
               variable="selection">
            <iterate>
               <instanceof
                     value="java.util.HashMap">
               </instanceof>
            </iterate>
            <iterate>
               <instanceof
                     value="COM.dragonflow.SiteView.MonitorGroup">
               </instanceof>
            </iterate>
         </or>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.siteview.ecc.rcp.cnf.data.MonitorServerManager"
            class="com.siteview.ecc.rcp.cnf.data.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.siteview.ecc.rcp.cnf.data.MonitorServer"
            class="com.siteview.ecc.rcp.cnf.data.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="COM.dragonflow.SiteView.MonitorGroup"
            class="com.siteview.ecc.rcp.cnf.data.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="COM.dragonflow.SiteView.Monitor"
            class="com.siteview.ecc.rcp.cnf.data.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="java.util.HashMap"
            class="com.siteview.ecc.rcp.cnf.data.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="SiteviewPreferencePage"
            class="com.siteview.ecc.rcp.cnf.internal.LoginPreferencePage"
            id="LoginPreferencePage"
            name="LoginPreference">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.siteview.ecc.rcp.cnf.internal.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.siteview.ecc.rcp.cnf.actions.monitorGroup"
            objectClass="COM.dragonflow.SiteView.MonitorGroup">
         <action
              class="com.siteview.ecc.rcp.cnf.actions.DeleteMonitorGroupAction"
               enablesFor="1"
               helpContextId="org.eclipse.ui.edit.delete"
               icon="icons/delete_obj.gif"
               id="com.siteview.ecc.rcp.cnf.actions.deleteMonitorGroup"
               label="Delete Monitor Group"
               menubarPath="group.edit"
               tooltip="Delete a monitor group"/>
      </objectContribution>
   </extension>
   <!-- extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.siteview.ecc.rcp.cnf.contribution1"
            objectClass="com.siteview.ecc.rcp.cnf.data.Child">
         <action
               class="com.siteview.ecc.rcp.cnf.popup.actions.DeleteAction"
               enablesFor="1"
               id="com.siteview.ecc.rcp.cnf.deleteAction"
               label="Delete"
               menubarPath="group.edit"
               tooltip="Delete a child">
         </action>
      </objectContribution>
   </extension-->
</plugin>
