<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
       point="org.eclipse.ui.views">
    <view
          class="SiteView.ecc.views.EccTreeControl"
          id="SiteView.ecc.views.EccTreeControl"
          name="Group">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="SiteView.ecc.editors.EccControl"
          id="SiteView.ecc.editors.EccControl"
          name="Detail">
    </editor>
 </extension>
 </plugin>