<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
       point="org.eclipse.ui.views">
    <view
          class="SiteView.ecc.views.EccTreeControl"
          id="SiteView.ecc.views.EccTreeControl"
          name="Group">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="SiteView.ecc.editors.EccControl"
          id="SiteView.ecc.editors.EccControl"
          name="Detail">
    </editor>
 </extension>
 <extension
       point="Siteview.Forms.Common.LayoutExtension">
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.MonitorLogTabView"
          Title="日志数据"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.TotalTabView"
          Title="概要信息"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.TrendReportTabView"
          Title="趋势报告"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
 </extension>
 </plugin>
