<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
       point="org.eclipse.ui.views">
    <view
          class="SiteView.ecc.views.EccTreeControl"
          id="SiteView.ecc.views.EccTreeControl"
          name="Group">
    </view>
    <view
          class="SiteView.ecc.view.EccTreeControl"
          id="SiteView.ecc.view"
          name="Ecc9.2"
          restorable="true">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="SiteView.ecc.editors.EccControl"
          id="SiteView.ecc.editors.EccControl"
          name="Ecc">
    </editor>
    <editor
          class="SiteView.ecc.editors.UserManager"
          default="false"
          id="SiteView.ecc.editors.UserManager"
          name="用户管理">
    </editor>
 </extension>
 <extension
       point="Siteview.Forms.Common.LayoutExtension">
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.MonitorLogTabView"
          Title="日志数据"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.TotalTabView"
          Title="概要信息"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.TrendReportTabView"
          Title="趋势报告"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.reportchart.StatusCTIReport"
          Title="状态统计报表"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.tab.views.ContrastReportTabView"
          Title="对比报告"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.reportchart.TimeContrastReport"
          Title="时段对比报告"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
    <ExtViews_matchByStrategy
          Class="SiteView.ecc.reportchart.ErrorCTIReport"
          Title="错误统计报告"
          match_strategy="SiteView.ecc.tab.views.MatchClass">
    </ExtViews_matchByStrategy>
 </extension>
 <extension
       point="Siteview.Forms.Common.SiteviewAutoTask">
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.RemoteMacheineBundle"
          Name="RemoteMacheineBundle">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.EditorRemoteMacheineBundle"
          Name="EditorRemoteMacheineBundle">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.addGroupBundle"
          Name="添加组">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.DeleteGroupBundle"
          Name="删除组">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.EditGroupBundle"
          Name="编辑组">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.AddMonitorBundle"
          Name="增加监测器">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.EditMonitorBundle"
          Name="编辑监测器">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.DeleteMonitorBundle"
          Name="删除监测器">
    </AutoTaskExtension>
    <AutoTaskExtension
          Class="SiteView.ecc.bundle.EditsMonitorBundle"
          Name="编辑监测器1">
    </AutoTaskExtension>
 </extension>
 </plugin>
